<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.salaries.mapper.Role_MenuMapper">



    <!--先删除-->
    <delete id="deleteRoleMenuInfoByRoleId" parameterType="int">
        delete from rolemenu where ROLEID=#{roleId}
    </delete>

    <!--再添加权限-->
    <insert id="insertRoleMenuInfoByRoleId" parameterType="com.salaries.vo.Role_MenuVo">
        INSERT INTO
        rolemenu(ROLEID,MENUID)
        SELECT
        #{roleId},#{menuId}
        FROM DUAL
        WHERE NOT EXISTS
        (SELECT MENUID FROM rolemenu WHERE ROLEID=#{roleId} AND MENUID=#{menuId})
    </insert>


</mapper>